@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@200&display=swap");
.body {
  margin: 0;
  font-family: "Poppins";
  min-height: 80vh;
}
.view {
  display: flex;
}
.sidebar {
  height: auto;
  background-color: rgb(184, 184, 187);
  min-height: 80vh;
  resize:horizontal; /* Allows resizing in both directions */
  overflow: auto;
}

.field {
  width: auto;
  resize:horizontal; /* Allows resizing in both directions */
  overflow: auto;
  font-family: "Poppins";
  min-height: 80vh;
}
.form {
  padding-left: 60px;
  min-height: 80vh;
  padding-top: 40px;
  
}
ul li {
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  text-decoration: none;
}

/*card content css*/
.card {
  width: 18rem;
  background-color: rgb(117, 116, 115);
  padding-top: 20px;
}
.card-body {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cardpos {
  padding-top: 20px;
  padding-left: 30px;
  display: inline-block;
}
.contact {
  padding-right: 200px;
  padding-top: 10px;
}
.header {
  padding-left: 40px;
}
