/*import google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@200&display=swap");
.body {
  background-color: white;
  margin: 0;
  font-family: "Poppins";
}

header {
  background-color: #4e7499;
  font-family: "Poppins";
}

header .container {
  width: auto;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins";
}

header a {
  color: rgb(239, 239, 241);
  text-decoration: none;
}

.pages {
  min-height: 80vh;
  padding: 20px;
  margin: 0 auto;
  font-family: "Poppins";
}

nav button {
  background: rgb(231, 231, 231);
  color: rgb(23, 162, 115);
  border: 2px solid;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}
.h6 {
  color: aliceblue;
}
.App{
  padding-left: 30px;
}
.hover-effect:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

/* change change-password-form css */
.change-password-form {
  
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .change-password-form div {
    margin: 10px 0;
  }
  
  .change-password-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .change-password-form input{
    padding: 5px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .change-password-form .error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
  }


  /* user profile css */
  .user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 50px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .email {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .bio {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .social-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    margin-right: 10px;
  }
  
  .social-links a {
    color: #000;
  }
  
  .social-links i {
    font-size: 24px;
  }